<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Reset password</strong>
            </div>
            <div class="panel-body">
                <form name="resetPassForm" role="form"
                      ng-submit="resetPass()" novalidate>
                    <div class="form-group" show-errors>
                        <label for="email"
                               class="control-label">Enter your
                            email</label>
                        <input type="email" class="form-control" id="email"
                               name="email" placeholder="Email"
                               ng-model="email" required>
                        <p class="help-block"
                           ng-if="resetPassForm.email.$error.required">
                            The user's email is required
                        </p>
                        <p class="help-block"
                           ng-if="resetPassForm.email.$error.email">
                            The email address is invalid
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="password_reset_submit"
                                    class="btn btn-primary pull-right">Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
